.App {
  text-align: center;
  background-color: #f5f5f5;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.header {
  background-color: #1f2c39;
  color: white;
  padding: 20px;
  border-radius: 10px;
  margin-bottom: 20px;
  font-size: 2rem;
}
